.menu {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0 ;
    left: 0;
    background-color: white;
    opacity: 0.8;
}
.menu a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: inline-block;
    padding: 20px 40px;
    font-weight: lighter;
}
.header {
    text-align: center;
    padding: 200px 0px;
    background-color: black;
    color: white;
    background-image: url(images/ch.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 85%;
    margin:0 auto ;
    margin-top: 58px;
    background-attachment: fixed;

}
.header a {
    padding: 12px 24px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    
}
.header p {
    margin: 45px 0px;
}
.menu a:hover {
    background-color: #ccc;
    color: black;

}
.header a:hover {
    background-color: #b1b1b2;
    color: black;
}
#about-company img {
    width: 400px;
    float: right;
    margin: 30px;
    margin-top: 0%;
}
#about-company {
    width: 85%;
    padding: 40px 0px;
    margin: 0 auto;
    text-align: justify;

}
#about-company h2{
    text-align: center;
}
.member {
    display: inline-block;
    width: 20%;
    margin: 20px 10px;
    box-shadow: 0 2px 5px grey;
    padding: 20px;
    text-align: left;
    min-width: 250px;
}
.member img {
    width: 100%;

}
.team {
    text-align: center;

}
.member h3 {
    font-weight: 400;
    font-size: 20px;
    
}
.member .position {
    opacity: 0.6;
}
.member a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 0;
    text-align: center;
    width: 100%;
    background-color: #055b73;
    color: white;
    border-radius: 10px;
}
.tariff li {
    list-style-type: none;
    padding: 16px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;

}
.tariff .tariff-name {
    padding: 32px 0;
    font-size: 24px;
    background-color: black;
    color: white;
}
.tariff {
    display: inline-block;
    width: 30%;
    margin: 10px;
    vertical-align: middle;
    background-color: white;
    padding: 0;
    min-width: 250px;
}
.tariff li:last-child {
    background-color: #f1f1f1;
    padding: 24px 0;
}
.tariff a {
    text-decoration: none;
    padding: 12px 24px;
    background-color: black;
    border-radius: 8px;
    color: white;
}
.tariff a:hover {
    background-color: #b1b1b2;
    color: black;
}
.tariff .price {
    color: black;
    font-weight: bold;
    font-size: 24px;

}
.tariff .period {
    color: black;
    opacity: 0.4;

}
.prices {
    background-color: #616161;
    text-align: center;
    padding: 50px 0;

}
.prices h2, .prices p {
    color: white;
}
.importent {
    font-weight: bold;
}
.contact {
    background-color: #f1f1f1;
    text-align: center;
    padding: 40px 0;
}
.contact-address {
    background-image: url(images/address.png);
}
.contact-phone {
    background-image: url(images/phone.png);
}
.contact-email {
    background-image: url(images/mail.png);
    
}
.contact-info {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px;
    text-align: left;
    padding-left: 30px;
    margin-left: 5%;
}
.contact input {
    width: 90%;
    padding: 8px;
    border: none;
    outline: none;
}
.contact button {
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 8px 16px;

}
.contact button:hover {
    background-color: gray;
    color: black;
}
.footer {
    width: 100%;
    background-color: black;
    color: white;

}
body {
    margin: 0;

}

